.bars-container{
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.array-bar {
    background: blueviolet;
    border: 1px solid;
    display: inline-block;
    margin: 0 2px;
    width: 2px;
}

